<html>
  <body>
    <div class="scroll-up-btn" style="border-radius: 40%;">
      <img src="assets/image/fleche.gif" alt="" style="border-radius: 40%;">
    </div>
  
    <!-- Header -->
    <nav class="navbar">
      <div class="max-width">
        <div class="logo"><a href="#"><span>Jerbi Ahmed</span></a></div>
        <ul class="menu">
          <li><a href="#home" class="menu-btn"><strong>Home</strong></a></li>
          <li><a href="#about" class="menu-btn"><strong>About</strong></a></li>
          <li><a href="#services" class="menu-btn"><strong>Services</strong></a></li>
          <li><a href="#skills" class="menu-btn"><strong>Skills</strong></a></li>
          <li><a href="#projects" class="menu-btn"><strong>Education</strong></a></li>
          <li><a href="#contact" class="menu-btn"><strong>Contact</strong></a></li>
        </ul>
        <div class="menu-btn">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>
  
    <!-- Home -->
    <section class="home" id="home" style="background-image:  url(assets/image/cover.png); background-size: cover; background-position: center; ">
      <div class="max-width">
        <div class="home-content">
          <div class="text-1">Hello, I am</div>
          <div class="text-2">Jerbi Ahmed</div>
          <div class="text-3">And I'm a <span class="typing"></span></div>
          <a href="#contact">Hire me</a>
        </div>
      </div>
    </section>
  
    <!--  About  -->
    <section class="about" id="about">
      <div class="max-width">
        <h2 class="title">About Me</h2>
        <div class="about-content">
          <div class="column left">
            <img src="assets/image/pdp1.jpg" alt="Profile Image 626x626">
          </div>
          <div class="column right">
            <div class="text">I'm Jerbi and I'm  <span class="typing-2"></span></div>
            <p> passionate about information technology and motivated to learn and acquire new skills. Although I don't have any professional experience, I have gained expertise in programming languages such as C, C#, java and SQL, as well as e-commerce and networking fundamentals during my studies. My career goal is to become a data scientist and work with data to assist companies in making informed decisions.</p>
            <br>
            <div class="text">Why Work With Me</div>
            <p>I am ready to work hard and collaborate with the team to contribute to ongoing projects and learn as much as possible.</p>
  
            <a (click)="downloadPdf()" target="blank">Download CV</a>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Services -->
    <section class="services" id="services">
      <div class="max-width">
        <h2 class="title">My services</h2>
        <div class="serv-content">
          <div class="card">
            <div class="box">
              <i class="fas fa-laptop-code"></i>
              <div class="text">Web Developper</div>
              <p>I specialize in full-stack web development using Angular and Spring Boot. With my expertise, I can create modern and responsive web applications that leverage the power of Angular's frontend framework and the robustness of Spring Boot's backend capabilities.</p>
            </div>
          </div>
          <div class="card">
            <div class="box">
              <i class="fas fa-user-secret"></i>
              <div class="text">Destkop Developper</div>
              <p>I have expertise in developing desktop applications using both C# and Java. With C#, I leverage the powerful features of the .NET framework, along with Windows Forms and WPF, to create robust and interactive Windows desktop applications. Additionally, I can utilize C#'s cross-platform capabilities with .NET Core for applications that run on multiple platforms. In Java, I utilize JavaFX or Swing to develop platform-independent desktop applications with rich graphical interfaces. Java's "write once, run anywhere" principle allows me to create flexible and accessible applications across various operating systems and environments.</p>
            </div>
          </div>
          <div class="card">
            <div class="box">
              <i class="fas fa-code"></i>
              <div class="text">Database</div>
              <p>With SQL, i can perform various operations on a database, such as creating, modifying, and querying data. By writing SQL queries, i can retrieve specific information from the database, update existing records, insert new data, and even delete unwanted entries</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Skills -->
    <section class="skills" id="skills">
      <div class="max-width">
        <h2 class="title">My Skills</h2>
        <div class="skills-content">
          <div class="column left">
  
            <div class="text">Stage</div>
            <p>
              <li class="intern">Vermeg</li>
              
            </p>
  
            <br>
            <div class="text">PROJECT</div>
  
            <p>
              <li class="project">Portfolio (Angular,Springboot, Bootstraps)</li>
              <li class="project">eCommerce Website (Prestashop)</li>
              <li class="project">Destkop Application - Users Account Manager with C# and JavaFX</li>
              <li class="project">Snake Game, Tic Tac Toe and Quiz with C and C#</li>
              <li class="project">Accounts Manager Web Application(Angular, Springboot)</li>
            </p>
  
            <br>
            <div class="text">DEVELOPMENT SKILLS</div>
  
            <p>
              I'm familiar & work on a daily basis with Angular, Springboot, Java  and other modern frameworks.
            </p>
          </div>
          <div class="column right">
            <div class="bars">
              <div class="info">
                <span>C</span>
                <span>90%</span>
              </div>
              <div class="line python"></div>
            </div>
            <div class="bars">
              <div class="info">
                <span>Java</span>
                <span>80%</span>
              </div>
              <div class="line html"></div>
            </div>
            <div class="bars">
              <div class="info">
                <span>C#</span>
                <span>90%</span>
              </div>
              <div class="line python"></div>
            </div>
            <div class="bars">
              <div class="info">
                <span>C</span>
                <span>90%</span>
              </div>
              <div class="line python"></div>
            </div>
            <div class="bars">
              <div class="info">
                <span>Angular</span>
                <span>70%</span>
              </div>
              <div class="line django"></div>
            </div>
            <div class="bars">
              <div class="info">
                <span>Springboot</span>
                <span>60%</span>
              </div>
              <div class="line bootstraps"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Projects -->
    <section class="projects" id="projects">
      <div class="max-width">
        <h2 class="title">Education</h2>
        <div class="carousel owl-carousel">
          <div class="card">
            <div class="box">
              <img src="assets/image/jehedh.jpeg" alt="">
              <div class="text">College Jehedh Kram</div>
              
            </div>
          </div>
          <div class="card">
            <div class="box">
              <img src="assets/image/byrsa.jpeg" alt="">
              <div class="text">Lycée Carthage Byrsa</div>
              <p>Admins in the Baccalaureate with highest honors (mention très bien)</p>
            </div>
          </div>
          <div class="card">
            <div class="box">
              <img src="assets/image/ihec.jpeg" alt="">
              <div class="text">IHEC Carthage</div>
              <p>Student in the 2nd year of Business Intelligence (BI) </p>
            </div>
          </div>
          
        </div>
      </div>
    </section>
  
    <!-- Contact -->
    <section class="contact" id="contact">
      <div class="max-width">
        <h2 class="title">Contact Me</h2>
        <div class="contact-content">
          <div class="column left">
            <div class="text">Get in Touch</div>
            <p>Feel free to reach out to me if you have any inquiries or would like to discuss potential collaborations. I am always eager to connect with like-minded individuals, industry professionals, or fellow enthusiasts. Whether it's about a project, job opportunity, or simply to share ideas, I am open to engaging in meaningful conversations. Please use the contact form below or the provided email address, and I will get back to you as soon as possible. Looking forward to connecting with you!</p>
            <div class="icons">
  
             
                <div class="row">
                <img src="assets/image/pdp1.jpg" alt="" style="height: 80%; width: 10%; border-radius: 20%;">
                  <div class="info">
                    <div class="head">Name</div>
                    <div class="sub-title">Jerbi Ahmed</div>
                  </div>
                </div>
  
              <div class="row">
                <img src="assets/image/adresse.gif" alt="" >
                <div class="info">
                  <div class="head">&nbsp;Address</div>
                  <div class="sub-title"><a href="https://www.google.tn/maps/place/Le+Kram/@36.8325412,10.3116738,16z/data=!3m1!4b1!4m6!3m5!1s0x12fd4b3b4fb8e7a1:0xcde4a6ea3a56a3c7!8m2!3d36.83332!4d10.3175155!16s%2Fm%2F0b6g78h?hl=fr&entry=ttu" target="_blank" style="text-decoration: none;color: #007bff;cursor: pointer;">&nbsp;Kram, Tunis, Tunisia</a></div>
                </div>
              </div>
  
              <div class="row">
                <img src="assets/image/email.gif" alt="" >
                <div class="info">
                  <div class="head">Email</div>
                  <div class="sub-title"><a href="mailto:jerbiahmed24@gmail.com" style="text-decoration: none; color: #333;"> jerbiahmed24@gmail.com</a></div>
                </div>
              </div>
  
              <div class="row">
                <img src="assets/image/lang.png" alt="" >
                <div class="info">
                  <div class="head">Language Known</div>
                  <div class="sub-title">Arabic, English, Frensh, Italian</div>
                </div>
              </div>
  
              <br>
  
              <!-- Social -->
              <div class="social-menu">
                <ul>
                  <li><a href="https://github.com/jerbi2026"><img src="assets/image/github.png" style="height: 90%; width: 100%;"></a></li>
                  <li><a href="https://www.linkedin.com/in/jerbi-ahmed-879b98258"><img src="assets/image/linkedin.png" style="height: 100%; width: 100%;"></a></li>
                  <li><a href="https://www.instagram.com/jerbiahmed30/"><img src="assets/image/instagram.png" style="height: 90%; width: 100%;"></a></li>
                  <li><a href="https://www.facebook.com/profile.php?id=100077080161240"><img src="assets/image/facebook.png" style="height: 100%; width: 100%;"></a></li>
                </ul>
              </div>
            </div>
          </div>
  
          <!-- Reach -->
          <div class="column right">
            <div class="text">Message me</div>
            <form action="#">
              <div class="fields">
                <div class="field name">
                  <input type="text" placeholder="Your Name" required>
                </div>
                <div class="field email">
                  <input type="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="field">
                <input type="text" placeholder="Subject" required>
              </div>
              <div class="field textarea">
                <textarea cols="30" rows="10" placeholder="Message.." required></textarea>
              </div>
              <div class="button-area">
                <button type="submit">Send message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  
   
  
  </body>
</html>